:root {
  --white: #fff;
  --black: #000;

  /* Primary colors */
  --primary-1: #2b8379;
  --primary-2: #19a596;

  /* Neutral colors */
  --neutral-1: #2c2c2c;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;
}

body {
  background-color: var(--neutral-5);
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  line-height: 30px;
  font-size: 18px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.label {
  display: block;
  font-weight: 500;
}

.input-required {
  color: var(--primary-2);
  text-decoration: none;
  font-weight: bold;
  padding: 0 1px;
}

.input {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em 0.5em;
  min-width: 200px;
  border: none;
  border-left: 7px solid var(--neutral-4);
  transition: border-left-color 160ms;
  background-color: white;
  width: 100%;
}

::placeholder {
  color: var(--neutral-3);
}

input:not(.btn):focus {
  outline: none;
  border-left: 7px solid var(--primary-1);
}

.navbar {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-brand {
  font-weight: 450;
  text-decoration: none;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: initial;
}